# PNPM 配置（作用于整个工作区）
strict-peer-dependencies=false
auto-install-peers=true
public-hoist-pattern[]=*
shamefully-hoist=false
shared-workspace-lockfile=true
save-workspace-protocol=true
store-dir=~/.pnpm-store

